<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- wyświetlenie listy -->
    {{fruits}}




    {# {% nie_istnieje_sobie %} mój komentarz jednolinijkowy #}

    {% comment %}
    To jest mój komentarz wielolinijkowy
    {% nie_istnieje_sobie %}
    {% endcomment %}


    <!-- Filtry -->
    <div>
        {{fruits|length}}
    </div>

    <div>
        {{ fruits|upper }}
    </div>

    <div>
        {{ fruits|join:", " }}
    </div>

    <div>
        {{fruits|length|add:2}}
    </div>


    <!-- Po kluczu (dict lookup)  -->
    {{person.name}} {{person.surname}} {{person.age}}


    <!-- Przeliterownie się po słowniku -->
    <p>Klucze</p>
    <p>{% for key in person %}
        {{key}}
        {% endfor %}</p>

    <p>Wartości</p>
    <p>{% for value in person.values %}
        {{ value }}
        {% endfor %}</p>

    <p>Klucze i wartości</p>
    <p>{% for idx, value in person.items %}
        <li>{{ idx }} {{ value }}</li>
        {% endfor %}</p>


    <!-- Przeliterownie się po liście -->
    <ul>
    {% for fruit in fruits %}
        {% if forloop.first %}
            {{ forloop }}
        Zawartość przy pierwszym obrocie pętli
        {% endif %}
        <li> {{ forloop.counter0 }} {{fruit}}</li>
    {% endfor %}
    </ul>


    <!-- Praca z obiekatami -->
    <p>{{ cow }}</p>
    <p>{{ cow.name }}</p>
    <p>{{ cow.speak }}</p>


</body>
</html>